<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        th,td{
        border: 1px black solid;
        }
    </style>
</head>
<body>
<center>
 <h1>Admin Page</h1>
{% if stu %}
 
 <table>
     <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Email</th>
         <th>Password</th>
         
     </tr>
 <tr>
     {% for st in stu %}
     <td>{{st.id}}</td>
     <td>{{st.Name}}</td>
     <td>{{st.Email}}</td>
     <td>{{st.pasd}}</td>
 </tr>
          
     {% endfor %}
     
</table>
<div>
 <a href="/delete">Delete</a><br>
 <h6>use id to delete & edit</h6>
 <a href="/edit">Edit</a> 
</div>   
{% else %}
 <h1>No Data</h1>
{% endif %}

{% if messages %}
{% for messages in messages %}
<h2>{{messages}}</h2>
{% endfor %}
{% endif %}

</center>
</body>
</html>
