<html>
<head>
</head>
<body>
        <center><h2>Edit Page!</h2>
        
	<form action="/update/" method="POST">{% csrf_token %}
	<table>	
		<tr>
			<td>Id:</td>
			<td><input type="number" name="ID" ></td>
			<h6>id cannot be changed give proper user id</h6>
		</tr>	

		<tr>
			<td>Name:</td>
			<td><input type="text" name="Name" ></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type="email" name="Email" ></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="pasd" ></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="update!"></td>
		</tr>	
		{% if messages %}
		{% for messages in messages %}
		<h2>{{messages}}</h2>
		{% endfor %}
		{% endif %}	
	</table>	
	</form>
	</center>	
</body>	
</html>
